@tailwind base;

a {
  @apply text-primary;
}
a:hover {
  @apply text-primary-darker;
}

.bg-main-div-image {
  background-image: url('../assets/IMG_1022.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bg-about-div-image {
  background-image: url('../assets/IMG_1034.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#hamburger {
  display: none;
}

#open {
  display: block;
}

#not-open {
  display: none;
}

@media only screen and (max-width: 631px) {
  #hamburger {
    display: block;
  }

  #full-menu {
    display: none;
  }
}

textarea {
  resize: none;
}

form{
  padding: 10px;
  width: 90%;
  max-width: 400px;
  margin: 30px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form input, textarea{
  height: 50px;
  padding-left: 5px;
  font-size: 18px;
  color: rgb(64, 153, 224);
}

form input::placeholder, textarea::placeholder{
  color: rgba(64, 153, 224, .5);
}

form textarea{
  height: 100px;
}

.error-field {
  border: 1px solid red;
}

.error-field::placeholder{
  color: red;
}

@tailwind components;

@tailwind utilities;
